body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: rgba(233, 214, 173, 0.795);
}

.shadow {
    text-shadow: 2px 3px 2px black; 
}

h1 {
    color: white;
	font-weight: 300;
	font-size: 5em;
}

h2 {
	color: white;
	font-weight: 300;
	font-size: 3em;
}

h3 {
	color: white;
	font-weight: 200;
	font-size: 2.5em;
}

#logo {
    width: 50px;
}

.navbar {
    background-color: #231f20 !important;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.5em; */
}

.navbar-brand {
    /* font-size: 1.5em; */
}

#navMain a:hover {
	opacity: 70%;
	color:  #61caff !important;
	transition-duration: .3s;
}

#navLogo a:hover {
	opacity: 70%;
	transition-duration: .3s;
}

#skills {
    /* text-shadow: 1px 1px 1px black;  */
    color: black;
    font-weight: bold;
}

#skills h2 {
    color: #231f20;
}

.icon-background {
    color: #3a3436;
    /* font-size: 1.5em !important; */
    /* display: inline-block;
    vertical-align: middle; */
    
}
.icon {
    color: white;
    /* font-size: .5em !important; */
    /* display: inline-block;
    vertical-align: middle; */
}

.image_off, .imgCircle:hover .image_on{
    display:none
 }
 .image_on, .imgCircle:hover .image_off{
    display:block;
 }

.imgCircle  {
    background: #383838;
    border-radius: 50%;
    -moz-border-radius: 50%; 
   -webkit-border-radius: 50%;
    width:100px;
    height:100px;
}

.logo {
    width: 50px;;
    margin-left: 25%;
    padding-top: 25%;
}


.splash {
	width: 100%;
	height: 110vh;
	margin-top: -72px;
	background: url('/img/splashOptimized.jpg') no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

#projects {
    background-color: black;
    
}

#contact {
	background-color: #4a5958;
}

#con-left {
	background-image: url('../img/contact/contact.png');
	background-position: center;
    background-size: cover;
}

@media screen and (max-width: 800px) {
	#con-left {
		display: none;
	}
	#small-contact {
		display: none;
	}
}

#small-contact {
	padding-right: 0px;
}

#form {
	text-align: left;
	color: white;
}

#form button {
	background-color: #00aaff;
	color: white;
}

.footer-link {
	color: #a0dfff;
}

footer {
	/* height: 100%; */
	background-color: #4c5451;
}

footer img {
	width: 38px;
}

#linked-in {
	padding-left: 0px;
}

footer ul {
	color: white;
	list-style: none;
	text-align: right;
}

.foot-li {
	font-size: 0.8em;
}




/* .skillsnologies i {
    font-size: 3em;
    width:90px;
    height: 90px;
    color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #3a3436;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
} */