html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	color: white;
	// background-color: rgba(233, 214, 173, 0.795);
	// background-color: rgba(63, 63, 63, 0.795);
	background-image: url("../img/hex.png");
	background-size: 5%;
	background-attachment: fixed;
	background-color: #535872;
}

.shadow {
	text-shadow: 2px 3px 2px black;
}

h1 {
	color: white;
	font-weight: 300;
	font-size: 5em;
}

h2 {
	color: white;
	font-weight: 300;
	font-size: 3em;
}

h3 {
	color: white;
	font-weight: 200;
	font-size: 2.5em;
}

#logo {
	width: 50px;
}

.navbar {
	background-color: #231f20 !important;
	background-image: url("../img/texture.png");
	font-family: "Montserrat", sans-serif;
	/* font-size: 1.5em; */
}

.navbar-brand {
	// margin-left: 20px !important;
	font-family: "EB Garamond", serif;
	font-size: 1.5em;
}

.nav-item {
	text-align: right;
}

#navMain a:hover {
	opacity: 70%;
	color: #61caff !important;
	transition-duration: 0.3s;
}

#navLogo a:hover {
	opacity: 70%;
	transition-duration: 0.3s;
}

#skills {
	background-color: #4c5364;
	background-image: url("../img/circuit.png");
	background-attachment: fixed;
	background-size: 20%;
	text-shadow: 1px 1px 1px black;
	color: white !important;
	color: black;
	font-weight: bold;
	border-top: 10px solid rgba(0, 0 , 0, .8);
	border-bottom: 10px solid rgba(0, 0 , 0, .4);
}

#skills h2 {
	// color: #231f20;
	color: white;
	text-shadow: 2px 2px 1px black;
}

.icon-background {
	color: #3a3436;
	/* font-size: 1.5em !important; */
	/* display: inline-block;
    vertical-align: middle; */
}
.icon {
	color: white;
	/* font-size: .5em !important; */
	/* display: inline-block;
    vertical-align: middle; */
}

.image_off,
.imgCircle:hover .image_on {
	display: none;
}
.image_on,
.imgCircle:hover .image_off {
	display: block;
}

.imgCircle {
	// background: #383838;
	background: rgb(34, 34, 34);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 90px;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centering y-axis */
	align-items: center; /* Centering x-axis */
}

.logo {
	width: 50px;
	// height: auto;
	// margin-left: 22.5%;
	// padding-top: 22.5%;
	// display:block;
	// margin:auto;
}

.splash {
	width: 100%;
	height: 110vh;
	margin-top: -72px;
	background: url("../img/splashOptimized.jpg") no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	// clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 130px), 0% 100%);
}

#aboutMe {
// 	// background-image: url("../img/hex.png");
// 	// background-size: 3%;
// 	// background-attachment: fixed;
// 	// background-color: #535872;
	// border-top: 20px solid rgba(0, 0 , 0, .4);
}

#aboutMeContainer {
	background-image: url("../img/texture.png");
	background-color: rgba(0, 0, 0, .5);
	border: rgba(0, 0, 0, .5) solid 10px;
	border-radius: 5%;
}


#avatar {
	border: rgba(0, 0, 0, .3) solid 10px;
	border-radius: 50%;
}

.skills {
	width: 100%;
	background-color: rgb(231, 231, 231);
	border-radius: 20px;
	border: rgba(0, 0, 0, .5) solid 2px;
	margin-bottom: 25px;
	background-image: url("../img/texture.png");
}
._html, ._css, ._bootstrap, ._javascript {
	text-align: center;
	font-weight: bolder;
	padding-top: 3px;
	padding-bottom: 3px;
	color: white;
	border-radius: 20px;
	border: rgba(0, 0, 0, .5) solid 2px;
	background-image: url("../img/texture.png");
}
._html {
	width: 75%;
	background-color: #4caf50;
}
._css {
	width: 75%;
	background-color: #2196f3;
}
._bootstrap {
	width: 80%;
	background-color: #f44336;
}
._javascript {
	width: 90%;
	background-color: #808080;
}

#testimonials {
	background-color: rgb(19, 19, 19);
	background-image: url("../img/texture.png");
	opacity: .9;
	border-top: 10px solid rgba(255, 255 , 255, .2);
	border-bottom: 10px solid rgba(255, 255 , 255, .2);
}

#testimonials img {
	border: 10px solid rgba(255, 255 , 255, .2);
}

#projects {
	// background-color: black;
	background-color: #14202f;
	background-image: url("../img/computer-chip-pattern.png");
	background-attachment: fixed;
	background-size: 25%;
	// clip-path: polygon(0% 0%, 100% 170px, 100% 100%, 0% 100%);
}

#projects img {
	border-radius: 5%;
	border: 10px solid rgba(255, 255 , 255, .6);
	background-image: url("../img/texture.png");

}

#skillsContainer {
	background-image: url("../img/texture.png");
	background-color: rgba(0, 0, 0, .5);
	border: 10px solid rgba(255, 255 , 255, .2);
	border-radius: 5%;
}

// #projects .container {
// // 	// transform: skewY(5deg);
// // 	position: relative;
// // 	z-index: 1;
// 	border-top: 100px solid transparent;
// 	padding: 15px;
// 	mask-border: url("../img/cat.png") space alpha;
// 	// mask-image: url("../img/cat.png");
// }

#contact {
	background-color: #ddd;
	background-image: url("../img/paper.png");
	// background-color: #4a5958;
}

#contact h2 {
	color: rgb(71, 71, 71);
	font-weight: 1000;
}

#contact label {
	color: black;
}

#con-left {
	// background-image: url("../img/contact/contact.png");
	background-image: url("../img/contact/connect.png");
	background-position: center;
	background-size: cover;
	opacity: 0.7;
}

@media screen and (max-width: 766px) {
	#con-left {
		display: none;
	}
	#small-contact {
		display: none;
	}
}

#small-contact {
	padding-right: 0px;
}

#form {
	text-align: left;
	color: white;
}

#form button {
	background-color: #00aaff;
	color: white;
}

.footer-link {
	color: #a0dfff;
}

footer {
	/* height: 100%; */
	background-color: #4c5451;
	background-image: url("../img/texture.png");
}

footer img {
	width: 38px;
}

#linked-in {
	padding-left: 0px;
}

footer ul {
	color: white;
	list-style: none;
	text-align: right;
}

.foot-li {
	font-size: 0.8em;
}

/* photo Gallery */
@keyframes example {
	0% {
		left: 0px;
		top: 0px;
		width: 10;
	}
	/* 25%  {left:0px; top:-500px;}
    50%  {left:0px; top:-250px;}
    75%  {left:0px; top:-100px;} */
	100% {
		left: 0px;
		top: 0px;
	}
}

@-webkit-keyframes slide-fwd-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	100% {
		-webkit-transform: translateZ(160px);
		transform: translateZ(160px);
	}
}
@keyframes slide-fwd-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	100% {
		-webkit-transform: translateZ(160px);
		transform: translateZ(160px);
	}
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	/* display: none; Hide columns by default */
}
/* The "show" class is added to the filtered elements */
.show {
	z-index: -9999;
	display: block;
	position: relative;
	/* animation-name: example; */
	/* animation-duration: 1s; */
}

/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
	background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
	background-color: #666;
	color: white;
}
//end photo gallery

/* .skillsnologies i {
    font-size: 3em;
    width:90px;
    height: 90px;
    color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #3a3436;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
} */
